<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">
        <style>
            .square {
                height: 550px;
                width: 400px;
                background-color: #222;
            }
        </style>
    </head>
    <body>
        <div class="alert alert-secondary" role="alert">
            <h1>{{ misia }}</h1>
        </div>
        <h4 style="color: grey">{{ diviz }}</h4>
        <center><h2>Оформление каюты</h2></center>
        {% if gender == 'male' and age >= 21 %}
            <center><table>
                <thead>
                    <tr>
                        <th><div class="alert alert-secondary" role="alert"><center><h4>Цвет стен</h4></center></th>
                        <th><div class="alert alert-secondary" role="alert"><center><h4>Эмблема</h4></center></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div class="square"></div></td>
                        <td><img src="/static/img/MARS-2-9.png" width="400" height="550"></td>
                    </tr>
                </tbody>
            </table></center>

        {% endif %}

    </body>
</html>